html {
    background-color: #222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* -ms-text-size-adjust: 100%; */
    /* -webkit-text-size-adjust: 100%; */
}

.container {
    width: 95%;
    margin: 0 auto;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

item-element {
    width: 375px;
    display: block;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all 0.5s ease;
    border: thin solid lightgrey;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

item-element:hover {
    border: thin solid grey;
    box-shadow: 0 0 3px grey;
}

.item_name {
    position: relative;
    padding-top: 1em;
    border-top: thin solid #eee;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.item_tags {
    position: absolute;
    text-align: left;
    bottom: 10px;
    left: 10px;
    max-width: 75%;
    font-size: 0.8em;
}

.item_tag {
    margin-right: 1em;
}

item-element a {
    color: #000;
    text-decoration: none;
}

item-element a:hover,
item-element a:focus,
item-element a:active {
    color: #a31d1d;
    border-bottom: 1px solid rgba(163, 29, 29, .5);
}

item-element a:active,
item-element a:hover {
    outline: 0;
}

item-element a:active {
    opacity: 0.9;
}

.item_date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: grey;
    font-size: 0.8em;
}

.item_image {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
    object-fit: contain;
    height: 250px;
    padding-bottom: 1em;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.item_image_container {
    position: relative;
}

.item_price {
    display: inline-block;
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    background-color: #222;
    color: #fff;
    font-size: 1em;
    padding: 0.5em;
    z-index: 1000;
    height: 20px;
}

.item_info_container {
    margin-bottom: 2em;
}

.item_description_mobile {
    position: relative;
    text-align: center;
    font-size: 0.7em;
}

.description {
    color: #ddd;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0 1em;
    margin-bottom: 0.5em;
    border-bottom: thin solid #ddd;
}

.description a {
    color: #1e90ff;
}

.description a:hover,
.description a:focus,
.description a:active {
    color: #cd5c5c;
    border-bottom: 1px solid rgba(205, 92, 92, .5);
}

.description a:active,
.description a:hover {
    outline: 0;
}

.description a:active {
    opacity: 0.9;
}


/* Icons on image */

.item_icons:not(:empty) {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #222;
    font-size: 1em;
    padding: 0.5em;
    height: 20px;
}

.item_icons img {
    height: 20px;
    filter: invert(100%);
    margin: 0 0.2em;
    border-radius: 50%;
}

.item_description_desktop {    
    vertical-align: middle;
}

.item_multi {
    vertical-align: middle;
}